# Lab | Revisiting Machine Learning Case Study

- In this lab, you will use `learningSet.csv` file which you already have cloned in today's activities. The full process for the week is shown in the PDF file.

### Instructions

Complete the following steps on the categorical columns in the dataset:

- Check for null values in all the columns
- Exclude the following variables by looking at the definitions. Create a new empty list called `drop_list`. We will append this list and then drop all the columns in this list later:
    - `OSOURCE` - symbol definitions not provided, too many categories
    - `ZIP` - we are including state already
- Identify columns that have over 50% missing values.
- Remove those columns from the dataframe
- Perform all of the cleaning processes from the Lesson.
- Reduce the number of categories in the column `GENDER`. The column should only have either "M" for males, "F" for females, and "other" for all the rest
    - Note that there are a few null values in the column. We will first replace those null values using the code below:

    ```python
    print(categorical['GENDER'].value_counts())
    categorical['GENDER'] = categorical['GENDER'].fillna('F')
    ```

In [50]:
import pandas as pd
import numpy as np

In [51]:
data = pd.read_csv('learningSet.csv', low_memory=False)

In [52]:
# make df with categorical data
categorical = data.select_dtypes(object)

In [53]:
# Dataframe for percentage null values
nulls_percent_df = pd.DataFrame(categorical.isna().sum()*100/len(categorical)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']

# Dataframe with columns with missing values above 
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>50] # as instructed, we use 0.5 (50% as threshold)
drop_list = list(columns_above_threshold['column_name'])
drop_list.extend(['OSOURCE','ZIP']) # add the two specified useless columns

try: # remove specified columns from drop_list
    drop_list.remove('WEALTH1')
    drop_list.remove('WEALTH2')
    drop_list.remove('VETERANS')
    drop_list.remove('SOLIH')
except:
    TypeError()

In [54]:
drop_list#OK, there's only the two specified columns...

['OSOURCE', 'ZIP']

In [55]:
# Drop them from dataframe
categorical.drop(drop_list, axis=1, inplace=True)

In [56]:
# apply cleaning we did in class: changing column "MAILCODE" and replacing all spaces ' ' value with actural Null value
categorical['MAILCODE'] = categorical['MAILCODE'].apply(lambda x: x.replace(" ", "A"))
categorical = categorical.apply(lambda x: x.replace(" ", np.NaN))

# apply cleaning we did in class: groupping some states into 'other'
df = pd.DataFrame(categorical['STATE'].value_counts()).reset_index()

df.columns = ['state', 'count']
other_states = list(df[df['count']<2500]['state'])

categorical['STATE'] = categorical['STATE'].where(~categorical['STATE'].isin(other_states), 'other')

In [57]:
# clean gender column
categorical['GENDER'] = categorical['GENDER'].fillna('F') # fillna

gend = ['F','M']
categorical['GENDER'] = categorical['GENDER'].where(categorical['GENDER'].isin(gend), 'other')

In [58]:
categorical['GENDER'].value_counts()

GENDER
F        54234
M        39094
other     2084
Name: count, dtype: int64

In [59]:
# clean domain column: split into two columns and drop origional column
categorical['DOMAIN'] = categorical['DOMAIN'].fillna('R2')

categorical['DOMAIN_A'] = list(map(lambda x: x[0], categorical['DOMAIN']))
categorical['DOMAIN_B'] = list(map(lambda x: x[1], categorical['DOMAIN']))

categorical = categorical.drop(columns=['DOMAIN'])

In [60]:
# repeat from lesson: drop_list and unesseary columns
drop_list = []
drop_list.extend(['MDMAUD','MAILCODE','NOEXCH','MDMAUD_R', 'MDMAUD_F','MDMAUD_A'])

In [61]:
# fill na for two columns
categorical['CLUSTER'] = categorical['CLUSTER'].fillna('40')# 'other' would also be a valid choice
categorical['HOMEOWNR'] = categorical['HOMEOWNR'].fillna('U') # assumption: NAN also means 'we don't know'

categorical['DATASRCE'] = categorical['DATASRCE'].fillna(0)
categorical['DATASRCE'] = categorical['DATASRCE'].convert_dtypes(object)

categorical['GEOCODE2'] = categorical['GEOCODE2'].fillna('A')

In [62]:
# add more to drop_list and check
for col_name in categorical.columns:
    if "RFA" in col_name:
        drop_list.append(col_name)       

drop_list.remove('RFA_2R')
drop_list.remove('RFA_2A')
drop_list

['MDMAUD',
 'MAILCODE',
 'NOEXCH',
 'MDMAUD_R',
 'MDMAUD_F',
 'MDMAUD_A',
 'RFA_2',
 'RFA_3',
 'RFA_4',
 'RFA_5',
 'RFA_6',
 'RFA_7',
 'RFA_8',
 'RFA_9',
 'RFA_10',
 'RFA_11',
 'RFA_12',
 'RFA_13',
 'RFA_14',
 'RFA_15',
 'RFA_16',
 'RFA_17',
 'RFA_18',
 'RFA_19',
 'RFA_20',
 'RFA_21',
 'RFA_22',
 'RFA_23',
 'RFA_24']

In [63]:
# drop
categorical = categorical.drop(columns=drop_list)

# Lab | Feature engineering

- In this lab, you will use `learningSet.csv` file which you have already cloned in the previous activities. 
- Continue working in the same notebook as you did in the previous Lab. 

### Instructions

**Again go through all of the Numerical columns and apply the techniques that were performed in the lesson**

Then we will work on cleaning some of the other columns in the dataset using the techniques that we used before in the lessons.

- Check for null values in the numerical columns.
- After going through the lesson techniques there should only be a few columns left with NaN values to clean.
- Use appropriate methods to clean the columns which still contain NaN values.
- Use appropriate EDA technique where ever necessary.

In [64]:
# The numerical dataframe
numerical = data.select_dtypes(np.number)
numerical = numerical.drop(columns = ['TARGET_B', 'TARGET_D'])

In [65]:
# apply the changing " " to NaN on numerical dataframe
numerical = numerical.apply(lambda x: x.replace(" ", np.NaN))

In [66]:
# change drop_list for numerical dataframe
drop_list = []

# Dataframe for percentage null values
nulls_percent_df = pd.DataFrame(numerical.isna().sum()*100/len(numerical)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']

# Dataframe with columns with missing values above 
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>25] # as the lesson, we use 0.25 (25% as threshold)
drop_list = list(columns_above_threshold['column_name'])

try: # remove specified columns from drop_list
    drop_list.remove('WEALTH1')
    drop_list.remove('WEALTH2')
    drop_list.remove('VETERANS')
    drop_list.remove('SOLIH')
except:
    TypeError()

# add following columns to drop_list as done in lesson
for col in numerical.columns:
    if 'ADATE_' in col:
        drop_list.append(col)

drop_list = drop_list + ['MAXADATE']

In [67]:
# fillna for several columns
numerical['AGE'] = numerical["AGE"].fillna(np.mean(numerical['AGE']))
numerical['INCOME'] = numerical['INCOME'].fillna(5.0)
numerical['CLUSTER2'] = numerical['CLUSTER2'].fillna(np.ceil(np.mean(numerical['CLUSTER2'])))
numerical['WEALTH2'] = numerical['WEALTH2'].fillna(5.0)
numerical['TIMELAG'] = numerical['TIMELAG'].fillna(0.0)

In [68]:
# drop columns in drop_list and check nan values
numerical = numerical.drop(columns=drop_list)
df = pd.DataFrame(numerical.isna().sum()).reset_index()
df.columns = ['column_name', 'nulls']
nullcols = df[df['nulls']>0]
nullcols

    column_name  nulls
5       WEALTH1  44732
135         MSA    132
136         ADI    132
137         DMA    132
315    NEXTDATE   9973

In [81]:
# only the above columns still have nan values, checking MSA, ADI, DMA first, as the number is small, will most likely fill with mode
for col in nullcols['column_name'].to_list():
    print(numerical[col].value_counts(dropna=False))

WEALTH1
NaN    44732
9.0     7585
8.0     6793
7.0     6198
6.0     5825
5.0     5280
4.0     4810
3.0     4237
2.0     4085
1.0     3454
0.0     2413
Name: count, dtype: int64
MSA
0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: count, Length: 299, dtype: int64
ADI
13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: count, Length: 205, dtype: int64
DMA
803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: count, Length: 207, dtype: int64
NEXTDATE
NaN       9973
9504.0    2253
9412.0    1970
8703.0    1959
9512.0    1870
          ...
8107.0       1
7408.0       1
8207.0       1
8104.0       1
8412.0       1
Name: count, Length: 189, dtype: int64

In [84]:
# reviewed the five columns contain null values, and fill them with following methods:

#MSA, ADI, DMA: insignificant number of null values, fill with mode
numerical['MSA'] = numerical["MSA"].fillna(numerical['MSA'].value_counts().index[0])
numerical['ADI'] = numerical["ADI"].fillna(numerical['ADI'].value_counts().index[0])
numerical['DMA'] = numerical["DMA"].fillna(numerical['DMA'].value_counts().index[0])

#WEALTH1: fill with median, same as WEALTH2
numerical['WEALTH1'] = numerical['WEALTH1'].fillna(5.0)

#NEXTDATE: read column description, assuming nan means donor didn't give a second gift, so fill with 0.0 for date
numerical['NEXTDATE'] = numerical['NEXTDATE'].fillna(5.0)

In [86]:
# check and compleat
df = pd.DataFrame(numerical.isna().sum()).reset_index()
df.columns = ['column_name', 'nulls']
nullcols = df[df['nulls']>0]
nullcols

Empty DataFrame
Columns: [column_name, nulls]
Index: []